
h1 {
  color: darkblue;
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


p {
  color: #333333;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.5;
}


h2 {
  color: #006400;
  font-family: Trebuchet MS, sans-serif;
  text-align: left;
  margin-top: 30px;
}


h3 {
  color: #8B0000;
  font-family: Georgia, serif;
  font-size: 20px;
  margin-top: 20px;
}


img {
  border: 2px solid #444;
  border-radius: 8px;
  display: block;
  margin: 10px auto;
}



body {
  background-color: #fdf6e3;
  padding: 20px;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
